<mat-toolbar style="background-color: cadetblue;">
  <mat-toolbar-row>
    <button (click)="opened=!opened" mat-button
      style="background-color: black; color: white;" routerLink="/pokemons"><mat-icon>menu</mat-icon></button>
    <h1> Favoritos</h1>

    <button mat-button style="background-color: black; color: white; margin-left: 20px;" routerLink="/json" (click)="onClick()">
      <mat-icon>data_object</mat-icon>
    </button>
  <h1> Desestructuración JSON</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <div>
      <h2>pokemons favoritos</h2>

      <div fxLayout="row" class="cards">
        <mat-card class="card-size" *ngFor="let item of favoritePokemons">
          <mat-card-header>
            <img mat-card-xl-image class="img-size" [src]="item.imageUrl" alt="{{ item.name }} Image">

            <ul>
              <li><strong>Name:</strong> {{ item.name }}</li>
              <li><strong>ID:</strong> {{ item.id }}</li>
              <li><strong>Abilities:</strong>
                <ul>
                  <li *ngFor="let ability of item.abilities">{{ ability }}</li>
                </ul>
                <hr>
              </li>
            </ul>

          </mat-card-header>

          <mat-card-content>
            <div class="div-title-evolution">
              <b>Evoluciones</b>
            </div>
            <!-- pinta las card de evoluciones -->
            <div fxLayout="row" class="cards-detail">
              <mat-card class="evolutions-card" [style.background-color]="item.colors"
                *ngFor="let itemEvolution of item.evolution">
                <mat-card-header>
                  <b class="title-name-evolution">{{itemEvolution}}</b>
                </mat-card-header>

                <mat-card-content>
                  <!-- <img mat-card-xl-image [src]="item.imageUrl"
              class="img-evolution-size"> -->
                </mat-card-content>
              </mat-card>

            </div>
            <!-- pinta las card de evoluciones -->
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
