.form-control {
  box-shadow: 0 5px 100px 0 #0369f7;
  width: 50%;
  height: 25px;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

.div-card{
  flex-wrap: wrap;
}

.mat-card-pokemon {
  max-width: 350px;
  margin: 10px;
  background-color: aliceblue;
  color: black;
}

.mat-card-evolutions {
  max-width: 150px;
  margin: 10px;
}

img{
  max-width: 200px;
}
/* .div-card-evolution{
  flex-wrap: wrap;
} */

