<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 2%;">
  <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Agrega un id o nombre"
    [(ngModel)]="criterioBusqueda" (input)="filtrarPokemon()">
</div>

<div fxLayout="row" class="div-card">
  <mat-card  class="mat-card-pokemon" *ngFor="let item of pokemons">
    <mat-card-header>
      <div fxLayout="column">
        <div fxFlex="20">
          <button style=" color: deeppink;" (click)="favorite(item)" matTooltip="Agregar a favoritos">
            <mat-icon *ngIf="isFavorite(item)">favorite</mat-icon>
            <mat-icon *ngIf="!isFavorite(item)">favorite_border</mat-icon>
          </button>
        </div>

        <div fxLayout="row">
          <div fxFlex="45">
            <img class="img-pokemon" mat-card-xl-image [src]="item.imageUrl" alt="{{ item.name }} Image">
          </div>
          <div fxFlex="55">
            <ul>
              <li><strong>Nombre:</strong> {{ item.name }}</li>
              <li><strong>Numero:</strong> {{ item.id }}</li>
              <li><strong>Habilidades:</strong>
                <ul>
                  <li *ngFor="let ability of item.abilities">{{ ability }}</li>
                </ul>
                <!-- <hr> -->
              </li>
            </ul>
          </div>
        </div>
      </div>

    </mat-card-header>

    <mat-card-content>
      <hr>
      <div fxLayout="column" >
        <b>Evoluciones</b>
        <div fxLayout="row" class="div-card" fxFlexAlign="center">
          <mat-card class="mat-card-evolutions" [style.background-color]="item.colors" *ngFor="let itemEvolution of item.evolution">
            <mat-card-header>
              <mat-card-title>{{itemEvolution.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img class="img-pokemon-evolution" [src]="itemEvolution.imgEvolutionUrl" alt="{{ itemEvolution.name }} Image">

              <!-- <p>This card indeterminates progress bar.</p>
              <p>{{longText}}</p> -->
            </mat-card-content>

          </mat-card>

        </div>

      </div>

    </mat-card-content>
  </mat-card>
</div>
